:root {
  --background: #232946;
  --headline: #fffffe;
  --paragraph: #b8c1ec;
  --button: #eebbc3;
  --button-text: #232946;
  --card-background: #fffffe;
  --card-heading: #232946;
  --card-paragraph: #232946;
  --highlight: #eebbc3;
}
